{% extends 'base.html' %}

{% block title %} iKnowlwdge About Page {% endblock title %}

{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}

<body>
<main>
<div class="container py-4">

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Varaliya's iKnowledge.com</h1>
      <p class="col-md-8 fs-4">An iKnowledge blog (a shortened version of “weblog”) is <b> an online journal or informational website displaying information in reverse chronological order, with the latest posts appearing first, at the top.</b> It is a platform where a writer or a group of writers share their views on an individual subject.</p>
      <a class="btn btn-dark btn-sm" href="/" type="button">Go To Home</a>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>About Me</h2>
        <p>Love myself I do. Not everything, but I love the good as well as the bad. I love my crazy lifestyle, and I love my hard discipline. I love my freedom of speech and the way my eyes get dark when I'm tired. I love that I have learned to trust people with my heart, even if it will get broken. I am proud of everything that I am and will become.</p>
        <button class="btn btn-outline-light" type="button">Learn more...</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2><br><br> <i> "If you want to increase your success rate, double your failure rate." </i></h2>
      </div>
    </div>
  </div>

  <footer class="pt-3 mt-4 text-muted border-top">
    &copy; 2022 iKnowledge.in 
  </footer>
</div>
</main>

{% endblock body %}