{% extends 'base.html' %}

{% block title %} iKnowledge BlogHome Page {% endblock title %}

{% block blogactive %} active {% endblock blogactive %}

{% block js %}

<script>
  let previews = document.getElementsByClassName('preview');
  Array.from(previews).forEach((element) => {
    element.innerHTML = element.innerText

  })
</script>

{% endblock js %}

{% block body %}

<div class="container my-3">
  <h2>The Articles by iKnowledge: </h2>
  {% for post in allPosts %}



  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}} ({{post.views}} views)</strong>
      <h3 class="mb-0"><a class="text-dark" href="/blog/{{post.slug}}">{{post.title}} </a></h3>
      <div class="mb-1 text-muted">{{post.timeStamp.date}}</div>
      <p class="card-text mb-auto">
      <div class="preview">{{post.discription|safe |truncatechars:500 }}</div>
      </p>
      <div class="my-2">
        <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Continue reading...</a>
      </div>
    </div>
    <div class="col-auto d-none d-lg-block">
      <img src="/media/{{post.thumbnail}}" class="bd-placeholder-img" width="250" height="300"
        aria-label="Placeholder: Thumbnail">
    </div>


  </div>

  {% endfor %}
</div>

{% endblock body %}